################################################################################
 	This .gitignore file prevents Git from pushing unwanted files.
################################################################################

.git
.vs
src/obj
*.csproj.user
*.pdb
*.vshost.exe
*.vshost.exe.config
bin/Logs/*.log
bin/Packets/*.*
/src/bin/Release/Logs/22-10-2016.log
/src/bin/Release/build.log
/src/bin/Release/SupercellProxy.exe
/src/bin/Release/SupercellProxy.exe.config

src/packages/
